
<div class="row">
  
  <div class="col m6 s12">
    <h3>I want to try...</h3>
    {{#each undevouredBurgers }}
    <div class="card">

      <div class="row flex">
        <div class="col m8 s10">
          <h4><strong>{{name}}</strong></h4>
        </div>
        <div class="col m4 s2 center-align flex">
          <a class="eat-it waves-effect waves-light btn-small valign-wrapper red" data-id="{{{id}}}"><i class="material-icons right">arrow_forward</i>Tried it</a>
        </div>
      </div>

    </div>
    {{/each}}
  </div>

  <div class="col m6 s12">
    <h3>Already tried</h3>
    {{#each devouredBurgers}}
    <div class="card">
      
      <div class="row flex">
        <div class="col s8">
          <h5>{{name}}</h5>
        </div>
        <div class="col s4 center-align flex">
          <a class="delete-it waves-effect waves-red btn-flat" data-id="{{{id}}}"><i class="material-icons icon-grey">delete</i></a>
        </div>
      </div>
      
      
    </div>
    {{/each}}
  </div>

</div>

<div class="row">
  <div class="col m8 s10 offset-s1 offset-m2">

    <form id="new-burger" class="center-align">
      <input id="burger-name" name="burger-name" type="text" placeholder="What burger have you been dying to try?">
      <p id="name-validation" class="validation-text helper-text hidden"></p>
      <button  class="btn waves-effect red">Submit</button>
    </form>

  </div>
</div>